

<form action="/createe" method="get">
    <p> What's your question? </p>

    <input type="text" name="qtitle">
    <input type="hidden" name="title" value=<%=@title%>>
    <input id="qnairebutton" type="submit" value="done" name="titleindex">
</form>
<a href = '/'>완전완료!</a>