

<form action="/createe" method="get">
    <p>Put Your Title!</p>
    <input type="radio" name="type" value="1">
    <input type="radio" name="type" value="2">
    <input type="radio" name="type" value="3">
    <input type="text" name="qtitle">
    <input type="hidden" name="title" value=<%=@title%>>
    <input id="qnairebutton" type="submit" value="done" name="titleindex">
</form>
<a href = '/'>완전완료!</a>