<h1>Create Your Question</h1>

<p>Write Title for your Question!</p>


<form action="/createq" method="get">
    <p>Put Your Title!</p>
    <input type="text" name="title">

    <input type="submit" value="done">
</form>
